body{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  color:  rgb(251,231,61);
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}


a{
  color: rgb(251,231,61);
  text-decoration: none;
  display:block;/* 블럭형으로 변경*/
  padding:0px 10px 0px 10px;/* 패딩추가*/
}

.title{
  font-size: 26px;
  font-weight: 800;
}

nav{
  height: 80px;
  background-color: rgb(14,24,50);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul{
  list-style:none;/* ul의 하위에 속하는 전체 속성에 list-style없음*/
  display:flex;/* flex 선언*/
  border-radius:5px;/* 보더를 둥글게*/
 }

 nav li{
  width:100px;/* 넓이 지정*/
 }



 nav ul ul{
  display:none;/* .dropmenu의 ul 하위의 ul을 숨김처리*/
 }

 nav ul li:hover{/* 마우스를 올릴때 하단에 밑줄나오도록*/
  border-bottom:3px solid blue;/* 보더 지정*/
  box-sizing:border-box;/* 박스의 크기를 보더의 크기를 포함한 크기로 변경*/
  align-items: center;
  text-align: center;
 }

 nav ul li:hover ul{ /* 마우스를 ul 하위 li위에 올릴때 li 하위ul 을 출력*/
  display:block;/* 디스플레이 출력되도록 설정*/
  position:absolute;/* ul의 위치를 부모의 하위에 나오도록 고정*/
  background-color: aquamarine;
  align-items: center;
  text-align: center;
 
 }

nav ul li:hover li:hover{/* 하위 드롭다운 메뉴에 마우스 올릴시 색 반전효과*/
  border-bottom:0px;/* 하단 보더 없앰*/
  background-color:#555;/* 배경색*/
  box-sizing:border-box;/* 박스의 크기를 보더의 크기를 포함한 크기로 변경*/
 }

main{
  height: 800px;
  background-color: rgb(251,231,61);
}

footer{
  height: 300px;
  background-color: rgb(14,24,50);
}