body{
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  color:  rgb(251,231,61);
}

a{
  color: rgb(251,231,61);
  text-decoration: none;
}

.title{
  font-size: 26px;
  font-weight: 800;
}

nav{
  height: 80px;
  background-color: rgb(14,24,50);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main{
  height: 800px;
  background-color: rgb(251,231,61);
}

footer{
  height: 300px;
  background-color: rgb(14,24,50);
}